<% @order_items.each do |item| %>

	<h3 style="color:coral;"><%= item.product.title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><%= item.product.price %> $</span></h3>
	<small>Ordered at [<%= item.created_at.strftime("%m/%d/%Y, %H:%M %p") %>]</small>

	<%= form_for item, remote: true do |f| %>
		<% f.hidden_field :product_id, :value => item.product.id %>
		<%= f.number_field :quantity, :value => item.quantity.to_i %>
		<%= f.submit "Update Card" %>
	<% end %>

	<h2>Subtotal: <%= item.total %>	</h2>
	<small><%= link_to "remove", item, method: :delete, data: {remote: true}, class: "delete"  %></small>
	<hr><br>

<% end %>

